.MainWindow {
    background-color: #252525;
}

.LeftMenus QLabel {
    background-color: #202020;
    font-size: 20px;
}
.LeftMenus QListWidget {
    color: #AAA;
    background-color: #202020;
    padding-right: 5px;
    border: none;
}
.LeftMenus QListWidget::item {
    height: 40px;
}
.LeftMenus QListWidget::item:selected {
    background-color: #1b1b1b;
    color: #c2473a;
}
.LeftMenus QListWidget::item:hover {
    background-color: #1b1b1b;
}
